JWT_SECRET=
JWT_EXPIRATION_TIME=
SESSION_SECRET=

DATABASE_URL=

# storage
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# mail
# smtp.gmail.com
MAIL_HOST=
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=

# chat-gpt
OPENAI_API_KEY=

# google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=